%flex{
    display:flex;
    justify-content:center;
    align-items:center;
}
.footer_head{
    background-color:#464754;
    .nav{
        width:90%;
        // border:1px solid red;
        margin:0 auto;
        $height:2.8rem;
        display:flex;
        // color:#fff;
        align-items:center;
        border-bottom:1px solid #5f6073;
        .four{
            width:24%;
            // border:1px solid red;
            height:$height;
            @extend %flex;
            font-size:0.9rem;
            a{
                color:#fff;
                text-decoration:none;
            }
        }
    }
    .footer_down{
        width:100%;
        height:3.8rem;
        // border:1px solid red;
        @extend %flex;
        flex-direction:column;
        color:#878787;
        font-size:0.9rem;
    }
}
.inde,.three,.house_scroll{
    width:100%;
    // padding-left:0.3rem;
    & .indes{
        padding:0.8rem 0rem;
        border-bottom:2px solid #f4f4f4;
    }
    .top{
        width:100%;
        height:6rem;
        padding:0 0.6rem;
        display:flex;
        align-items:center;
        // border:1px solid red;
        img{
            width:6.8rem;
            height:5.2rem;
        }
        .info{
            width:50%;
            height:5.2rem;
            margin-left:0.6rem;
            display:flex;
            flex-direction:column;
            // border:1px solid red;
            .title{
                font-size:0.9rem;
                font-weight:700;
            }
            .price{
                color:#fe0000;
                font-size:1rem;
            }
            .address{
                font-size:0.7rem;
                margin-top:0.1rem;
                color:#a2a2a2;
            }
            .room{
                font-size:0.8rem;
                margin-top:0.2rem;
                color:#a2a2a2;
            }
        }
        .call{
            // border:1px solid red;
            margin-left:0.3rem;
            img{
                width:5.3rem;
                height:4.17rem;
            }
        }
    }
    .mid{
        width:100%;
        display:flex;
        align-items:center;
        height:2rem;
        padding:0 0.6rem;
        // border:1px solid red;
        .infor{
            // width:5.2rem;
            margin-right:0.3rem;
            span{
                font-size:0.4rem;
                white-space:nowrap;
                
            }
        }
        .dis{
            font-size:0.7rem;
            margin-right:0.3rem;
            padding:0 0.2rem;
            border:1px solid #a2a2a2;
            border-radius:5px;
            color:#a2a2a2;
        }
    }
    .bottom{
        width:100%;
        $height:2.3rem;
        padding:0 0.6rem;
        & .bottoms{
            height:$height;
            background-color:#f4f4f4;
            display:flex;
            align-items:center;
            padding:0 0.4rem;
        }
        .discount{
            color:#fff;
            width:1.5rem;
            height:1.5rem;
            font-size:0.7rem;
            margin-right:0.4rem;
            padding:0.2rem 0.3rem;
            @extend %flex;
            background-color:#f93824;
        }
        span{
            font-size:0.8rem;
        }
    }
}
.dynamic_roll{
    width:100%;
    .cher{
        width:100%;
        $height:2.8rem;
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:0 0.4rem;
        border-top:1px solid #f0f0f0;
        img{
            width:1.2rem;
            height:1.2rem;
        }
        .walk{
            width:60%;
            height:$height;
            // border:1px solid red;
            overflow:hidden;
            ul{
                list-style-type:none;
                // transition:all 1s;
                li{
                    width:60%;
                    font-size:0.7rem;
                    padding-left:0.1rem;
                    white-space:nowrap;
                    height:$height;
                    display:flex;
                    text-overflow:ellipsis;
                    align-items:center;
                }
            }
        }
        button{
            width:20%;
            height:1.6rem;
            background-color:#49b91f;
            color:#fff;
            font-size:0.7rem;
            border-style:none;
            border-radius:6px;
        }
    }
}
.public_search{
    width:100%;
    padding:0.6rem 0.6rem;
    background-color:#f2f2f2;
    .pad{
        display:flex;
        width:100%;
        background-color:#fff;
        height:2.6rem;
        align-items:center;
        input{
            width:90%;
            height:2.6rem;
            // border:1px solid red;
            padding-left:0.6rem;
            border-style:none;
            outline-style:none;
        }
        .right{
            width:10%;
            height:2.6rem;
            display:flex;
            align-items:center;
            // border:1px solid red;
            justify-content:flex-end;
            padding-right:0.6rem;
            span{
                widows: 1px;
                height:1.4rem;
                border-left:1px solid #62ab00;
            }
            img{
                margin-left:0.4rem;
                width:1.4rem;
                height:1.4rem;
            }
        }
    }
}














